<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>ABC</title>
</head>

<body>
<div class="jumbotron text-center">
	<h1 >Text Classifier</h1>
<form method='POST'>
	{{form.csrf_token}}
	{{form.text.label}}
	{{form.text}}
	<ul>
		{% for error in form.text.errors%}
			<li class="alert alert-danger">{{error}}</li>
		{%endfor%}
	</ul>
	<input type="Submit" value="Classify Text" class="btn btn-primary">
</div>
</form>
</body>
</html>